* {
      box-sizing: border-box;
      margin : 0;
    }
    
.profileimg {
      margin : 3rem ;
      box-shadow:0px 0px 10px #000;
      width : 15rem;
      height : 15rem;
      border-radius:70%;
} 
.memberimg {
      margin : 3rem ;
      width : 10rem;
      height : 10rem;
      border-radius:70%;
} 
    
.subject {
      margin : 5em;
      width : 100%;
      height : 30rem;
}

.membertext{
      font-weight: 800;
      font-size : 20px;
      color: black;
      text-align:center;
}

.box{
      text-align:center;
      font-size:30px;
      font-weight: 900;
      margin:20px
}

.outer {
      flex-direction:column;
      display:inline;
}

.align {
      display:flex;
      place-items: center;
      margin:20px;
      padding:20px;
}

.outer3 {
      display:inline;
      margin-top:50px;
      padding:10px;
      position:absolute;
}

.profile{
      display:block;
      margin:10px;
      padding:10px;
}

.text{
      padding: 10px;
      margin :10px;
      font-size: 20px;
      word-spacing:5px;
      text-align:justify;
      width:100rem;
      vertical-align: 10px;
      font-weight: 350;
      color:grey
}

.text-main{
      padding: 10px;
      margin :10px;
      word-spacing:5px;
      font-weight: 800;
      width:100rem;
      vertical-align: 10px;
      color: black;
}

.btn-userinfo{
      background-color: rgb(7, 146, 93);
      border:none;
      font-size: 15px;
      color:white;
      margin-left:35px;
      width:135px;

      height: 30px;
      border-radius:0.5rem;
      cursor:pointer;

}
