* {
      box-sizing: border-box;
      margin : 0;
    }
    
.postimg {
      /* margin : 3rem ; */
      box-shadow:0px 0px 2px #000;
      width : 20rem;
      height : 20rem;
      border-radius:5%;
} 

.content{
      display:inline;
      margin-top:2px;
      padding:2px;
      position:relative;
      justify-content: center;
}

/* .outer {
      display:inline;
      margin:10px;
      padding:10px;
} */

.text{
      padding: 10px;
      margin :10px;
      font-size: 20px;
      word-spacing:5px;
      text-align:justify;
      width:100rem;
      vertical-align: 10px;
      font-weight: 350;
      color:grey;
}

/* input[type="file"] {
      width: 0.1px;
      height: 0.1px;
      opacity: 1;
      overflow: hidden;
      position: absolute; 
      z-index: -1;
      cursor: pointer;
} */
  
label{
      cursor:pointer;
}
.postlist{
      background-color:transparent;
      display:inline-flex;
      align-items: center;
      margin:5px;
      padding:5px;
      width: 200px;
      height: 150px;
}

.postlistcontainer{
     background-color: black;
}