* {
  box-sizing: border-box;
  margin : 0;
  padding: 0;
}
    

.update-container{
  padding: 30px;
  background-color: rgb(113, 190, 162);;
  border: 2px solid rgb(8, 8, 8);
  display: flex;
  justify-content: space-around;
  border-radius : 20px;
}

.update-container div {
  margin : 10px;
}

.usernameprofile{
  padding:5px;
  margin:5px;
  border-radius: 15px;
}

.contentprofile{
  padding:5px;
  margin:5px;
  border : none;
  height: 120px;
  border-radius: 15px;
}

.updatepost-content::placeholder {
  color : rgba(102, 88, 51, .5);
  padding : 5px;
  font-size : 5px;
}

.newprofile{
  background-color:  rgb(7, 146, 93);
  border : none;
  color : rgba(255, 255, 255, 0.9);
  font-weight: 400;
  border-radius: 0.5rem;
  padding:2px;
  margin:2px;
  font-size:20px;
  cursor: pointer;
  font-weight: lighter;
}

.updatepost{
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute; 
  z-index: -1;
  cursor: pointer;
}

.preview {
  background-color: #ffffff;
  width : 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('');
  box-shadow : 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  outline: none;
  border:none;
}

.updatebox {
  display: flex;
  flex-direction: column;
}