.footer {
  width : 100%;
  height : 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}

section div, 
.icon{
  margin :1.3px 0;
  color : rgba(0, 0, 0, 0.6);
  font-size : 12px;
  font-style: italic;
}

.footer-header {
  font-weight : 700;
  color : rgba(102, 88, 51, 0.9);
  padding : 15px;
  font-style: italic;
}

.footer-copyright {
  color : rgba(0, 0, 0, .3);
  font-style: italic;
  font-size : 12px;
  margin : 5px 0;
}

.icon {
  color : rgba(102, 88, 51, 0.8);
  font-size : 14px;
}

.container {
  text-align: center;
}