.footer {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  font-style: italic;
}

.footer-header {
  font-size: 20px;
  font-weight: 700;
  color: rgba(102, 88, 51, 0.8);
  padding: 15px;
}

.footer-copyright {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-size: 13px;
}
