* {
  box-sizing: border-box;
  margin : 0;
}

.intro-simple {
  margin : 3rem 0;
  width : 100%;
  height : 15rem;
  /* border : 1px solid seagreen; */
  
} 

.intro-detail {
  margin : 5rem 0;
  width : 100%;
  height : 30rem;
  /* border : 1px solid seagreen; */
}



#video {
  position: absolute;
  top: 120px;
  right : 0;
  /* width: 20;
  height: 100; */
  z-index: -1;
  overflow: hidden;
}

