*{
  margin:0;
  box-sizing: border-box;
}

.nav {
  border : 1px solid seagreen;
  width : 100%;
  height : 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width : 7rem;
  margin : 0
}

.buttons {
  margin-right : 1rem;
}

.buttons>button {
  background-color: #079992;
  border : none;
  padding : .5rem;
  color : white;
  font-weight: 600;
  border-radius: 15px;
  box-shadow : 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  
}
.nav-signin {
  margin-right : .3rem;
}