*{
  margin:0;
  box-sizing: border-box;
}

.nav {
  /* border : 1px solid seagreen; */
  width : 100%;
  height : 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.nav-logo {
  border-radius: 50%;
  width : 2rem;
  margin : 1.3rem;
  cursor : pointer;
  /* animation : rotateLogo 1s linear infinite; */
}

/* @keyframes rotateLogo {
  0% {
    transform : none;
  }
  50% {
    transform : scale(0.94)
  }

  100% {
    transform : none;
  }
} */


.nav-btn {
  /* background-color: rgba(102, 88, 51); */
  border : none;
  padding : .5rem 1rem;
  color : rgba(102, 88, 51);
  font-weight: 600;
  border-radius: 15px;
  box-shadow : 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  margin : 0 5px;
  
}

.nav-btn:hover {
  background-color: whitesmoke;  
  transform: scale();
}

.g-logo {
  width : 15px;
  height : 15px;
  margin-right : 5px;
}

/* 
.fa-bars {
  color : #079992;
  margin : 0 1rem;
  cursor: pointer;
} */

/* .hide{
  display:none;
} */
