* {
  margin: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
}

.nav-logo {
  border-radius: 50%;
  width : 3.2rem;
  height: 3.2rem;
  margin : 1.3rem;
  cursor : pointer;
  animation : rotateLogo 1s linear infinite;
}

@keyframes rotateLogo {
  0% {
    transform : none;
  }
  50% {
    transform : scale(0.93)
  }

  100% {
    transform : none;
  }
}

.nav-btn {
  /* background-color: rgba(102, 88, 51); */
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(20, 20, 22, 0.11), 0 1px 2px rgba(11, 11, 11, 0.08);
  cursor: pointer;
  margin: 0 15px 0 0;
  background-color: rgba(102, 88, 51, .6);

}

.nav-btn:hover {
  background-color: whitesmoke;
  color: rgba(102, 88, 51, .6);
}

.g-logo {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

